.booking-card {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a h1 {
    font-size: 20px;
    padding: 15px 5px;
    text-align: center;
  }

  .booking-dates {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #232323;
    padding: 20px 0;
  }

  .review-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    hr {
      margin-top: 20px;
    }

  }

  .non-photo {
    border-left: 1px #dce0e0 solid;
    border-right: 1px #dce0e0 solid;
    border-bottom: 1px #dce0e0 solid;
  }

  a {
    display: block;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
  }

}
