.read-review {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 24px;
    padding: 20px 0;
  }

  hr {
    width: 100%;
  }

  h2 {
    font-size: 20px;
    padding: 20px 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
  }

  p {
    padding: 20px;
    font-size: 16px;
  }

  .ratings {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    > span {
      display: flex;
      width: 500px;
      justify-content: space-between;
      align-items: center;

      .rsr__caption {
        font-size: 20px;
      }
    }

  }

}
