.home {
  background-image: image-url("hero-1.jpg");
}

.home {
  .content {
    width: 960px;
    margin: auto;
  }

  .content-header {
    h1 {
      font-weight: 700;
      font-size: 48px;
      font-weight: 56px;
      padding: 8px 0;
    }

    h4 {
      font-weight: normal;
      font-size: 22px;
      font-weight: 300;
      line-height: 28px;
      margin: 0;
    }

    color: #fff;
    padding: 64px;
  }

  .content-body {
    background-color: #fff;
    color: #484848;
    padding: 48px 64px;

    h2 {
      font-size: 28px;
      line-height: 36px;
      padding-bottom: 24px;
    }

    form {
      display: flex;
    }

    form input {
      border-top: 1px solid rgb(170, 170, 170);
      border-bottom: 1px solid rgb(170, 170, 170);
      font-size: 14px;
      flex: 1;
    }

    form button {
      font-size: 16px;
      border: 1px solid #ff5a5f;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: #ff5a5f;
      padding-top: 13px;
      padding-bottom: 16px;
      padding-left: 50px;
      padding-right: 50px;
      color: #fff;
      cursor: pointer;
    }

    form button:hover {
      background-color: #ff7e82;
    }

    .home-location-input {
      border-left: 1px solid rgb(170, 170, 170);
      padding: 15px;
      padding-bottom: 17px;
      width: 180px;
      flex: 1;
    }

    select {
      border-left: 0;
      border-right: none;
      border-top: 1px solid rgb(170, 170, 170);
      background: transparent no-repeat 96% 0;
      border-radius: 0;
      padding: 13px;
      padding-bottom: 17px;
      font-size: 16px;
      -webkit-appearance: none;
    }
  }

}
