.navbar {
  background: #fff;
  border-bottom: 1px solid #dce0e0;
  line-height: 36px;
}

.navbar-logo:hover, .navbar-list > li:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.navbar-logo {
  color: #ff5a5f;
  float: left;
  border-right: 1px solid #dce0e0;
}

.navbar-logo a {
  display: block;
  font-size: 20px;
  padding: 10px 19px;
  font-weight: bold;
}

.navbar-logo i {
  font-size: 36px;
}

.navbar-list {
  float: right;
  display: block;
}

.navbar-list > li{
  float: left;
  border-left: 1px solid #dce0e0;
  font-size: 14px;
}


.navbar-list > li {
  padding: 0 19px;
  line-height: 62px;
  display: block;
}

.navbar > i {
  font-size: 36px;
  padding: 10px 19px;
  color: #dce0e0;
}

.user-label {

  position: relative;
}

.user-label:hover .user-menu {
  display: block;
}

.user-menu {
  border-top: 1px solid #dce0e0;
  min-width: 280px;
  max-width: 460px;
  right: 0;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  background: #fff;
}

.user-menu li, .logout {
  line-height: 18px;
  padding: 20px;
}

hr {
  width: 80%;
  background-color: #dce0e0;
  border: 0.5px solid #dce0e0;
  border-bottom: none;
  color: #dce0e0;
  margin: 0 auto;
}

.logout {
  cursor: pointer;
}

.user-menu li:hover, .logout:hover {
  background: #fff;
  transform: translateX(8px);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.navbar-search {
  float: left;
  line-height: 62px;
  height: 61px;


  i {
    font-size: 28px;
    color: #cdcccd;
    padding: 18px 15px;
  }

}

.new-spot-form {
  float: right;
  border: 2px solid #c4c4c4;
  line-height: 28px;
  padding: 0 10px;
  margin: 15px 20px;
}
