#map-container {
  width: 40%;
  float: right;
  // height: 100%;
  height: calc(100vh - 64px);
}

.search-result {
  width: 60%;
  height: calc(100vh - 64px);
  float: left;
  overflow-y: scroll;
}

.search-page .spot-list li {
  width: 40%;
  min-width: 200px;
  float: left;
}
